@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    background-color: var(--light-gray);
}
main {
    width: min(80%, 40rem);
    margin: 10rem auto;
   
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0.3rem 0.5rem 2rem rgba(0,0,0,10%);
    border-radius: 0.5rem;
    overflow: hidden;
   

}
.join {

    background-color: white;
    padding: 2rem;

}
.join h1 {
    color: var(--cyan);
    font-size: 1.5rem;
    padding: 0.6rem 0;

}
.join h2 {
    color: var(--bright-yellow);
    padding: 0.6rem 0;
    font-size: 1.1rem;
}
.join p {
    color: var(--grayish-blue);
    line-height: 1.5rem;
}
.conditions {
    display: flex;
      
}
.conditions h2 {
    color: white;
    font-size: 1rem; 
    padding: 0.5rem 0;
 
}

.subscription{
    padding: 2rem;
    background: var(--cyan);
    flex: 1 100%;
}
.subscription p {
    font-size: 1rem;
    color: var(--light-gray);
}
.sign-up {
    background-color: var(--bright-yellow);
    display: block;
    margin: 2rem 0 1rem 0;
    padding: 0.8rem 0;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 700;
    color: white;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,10%);
}
.why{
    padding: 2rem;
    background: var(--cyan);
    opacity: 0.7;
    flex: 1 100%;
}

.why ol {
    list-style: none;
    color: var(--light-gray);
    font-size: 0.8rem;
    padding: 0.5rem 0;
    line-height: 1.3rem;
}


.price {
    display: flex;
    padding: 0.5rem 0;
}

.price h3{
    display: block;
    font-size: 2rem;
    color:white;
    padding-right: 0.5rem;
}
.price span {
    color:var(--light-gray);
    opacity: 0.6;
    align-self:center;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media (max-width:480px) {
    .conditions {
        display: flex;
        flex-direction: column;
    }
}